Repository toddagriscience/Nightcrawler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/content-team, @toddagriscience/design-team

.github/CODEOWNERS:

# Copyright Todd LLC, All rights reserved

# Global ownership - require review from core team
* @toddagriscience/core-team

# GitHub configuration files
/.github/ @toddagriscience/devops-team

# CI/CD and deployment
/.github/workflows/ @toddagriscience/devops-team
/next.config.ts @toddagriscience/devops-team
/package.json @toddagriscience/devops-team
/package-lock.json @toddagriscience/devops-team

# Environment and configuration
/.env* @toddagriscience/devops-team
/envexample.md @toddagriscience/devops-team

# Code quality and tooling
/eslint.config.mjs @toddagriscience/frontend-team
/prettier.config.* @toddagriscience/frontend-team
/tailwind.config.ts @toddagriscience/frontend-team
/tsconfig.json @toddagriscience/frontend-team

# Testing configuration
/jest.config.js @toddagriscience/frontend-team
/jest.setup.* @toddagriscience/frontend-team
/.storybook/ @toddagriscience/frontend-team

# Internationalization
/src/messages/ @toddagriscience/content-team @toddagriscience/frontend-team
/src/i18n/ @toddagriscience/frontend-team
/src/middleware.ts @toddagriscience/frontend-team

# Core application structure
/src/app/ @toddagriscience/frontend-team
/src/components/ @toddagriscience/frontend-team
/src/lib/ @toddagriscience/frontend-team

# Public assets and branding
/public/ @toddagriscience/design-team @toddagriscience/frontend-team
/public/fonts/ @toddagriscience/design-team

# Documentation
/README.md @toddagriscience/core-team
/CLAUDE.md @toddagriscience/core-team
/.github/CONTRIBUTING.md @toddagriscience/core-team

refactor: shell and common (#10)
  src/components/landing/page/landing-page.tsx
  src/components/ui/index.ts
Owners: @toddagriscience/frontend-team

chore: implement Dependabot auto-approval and branch protection rules
  .github/BRANCH_PROTECTION.md
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Owners: @toddagriscience/devops-team

chore: update pull request template with correct Contributor Guide link
  .github/pull_request_template.md
Owners: @toddagriscience/devops-team

fix: update dependabot for pull requests (#45)
  .devcontainer/devcontainer.json
  .github/BRANCH_PROTECTION.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/dependabot-auto-approve.yml
Owners: @toddagriscience/core-team, @toddagriscience/devops-team

build: updated ci-cd pipelines, linting, & release.yml file
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
  package.json
Owners: @toddagriscience/devops-team

chore: updated & accidentally deleted dependabot script
  .github/workflows/build.yml
  .github/workflows/dependabot-auto-approve.yml
  .husky/pre-push
Owners: @toddagriscience/devops-team, @toddagriscience/core-team

chore: removed dev from protected branches
  .github/workflows/build.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
Owners: @toddagriscience/devops-team

feat: added fade-in effect, theme resetting (dashboard), & scroll to top
  src/app/[locale]/layout.tsx
  src/components/common/index.ts
  src/components/common/utils/fade-in/fade-in.tsx
  src/components/common/utils/fade-in/types/fade-in.tsx
  src/components/common/utils/smooth-scroll/smooth-scroll.tsx
  src/components/common/utils/theme-reset/theme-reset.tsx
  src/lib/scroll-to-top.tsx
  src/lib/utils.ts
Owners: @toddagriscience/frontend-team

chore: update pr contribution link
  .github/pull_request_template.md
Owners: @toddagriscience/devops-team

chore: implemented github copilot comments
  src/components/common/utils/smooth-scroll/smooth-scroll.tsx
Owners: @toddagriscience/frontend-team

chore: added format to pre-commit
  .husky/pre-commit
Owners: @toddagriscience/core-team

build: updated ci-cd pipelines, linting, & release.yml file (#57)
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
  .husky/pre-commit
  .husky/pre-push
  package.json
Owners: @toddagriscience/devops-team, @toddagriscience/core-team

feat: separated i18n translations for better collaboration & updated docs\
  .github/CONTRIBUTING.md
  docs/FECHEATSHEET.md
  jest.setup.intl.js
  src/i18n/message-files.ts
  src/i18n/request.ts
  src/messages/common/en.json
  src/messages/common/es.json
  src/messages/contact/en.json
  src/messages/contact/es.json
  src/messages/footer/en.json
  src/messages/footer/es.json
  src/messages/header/en.json
  src/messages/header/es.json
  src/messages/homepage/en.json
  src/messages/homepage/es.json
  src/messages/who-we-are/en.json
  src/messages/who-we-are/es.json
  src/test/test-utils.tsx
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team, @toddagriscience/content-team

chore: forgot to add copyright
  docs/FECHEATSHEET.md
Owners: @toddagriscience/core-team

chore: update src/test/test-utils.tsx
  src/test/test-utils.tsx
Owners: @toddagriscience/core-team

chore: update src/test/test-utils.tsx
  src/test/test-utils.tsx
Owners: @toddagriscience/core-team

chore: update src/i18n/request.ts
  src/i18n/request.ts
Owners: @toddagriscience/frontend-team

chore: update docs/FECHEATSHEET.md
  docs/FECHEATSHEET.md
Owners: @toddagriscience/core-team

chore: update jest.setup.intl.js
  jest.setup.intl.js
Owners: @toddagriscience/frontend-team

chore: update testing file
  jest.setup.intl.js
Owners: @toddagriscience/frontend-team

feat: added fade-in effect, theme resetting (static site), & scroll to top (#58)
  src/app/[locale]/layout.tsx
  src/components/common/index.ts
  src/components/common/utils/fade-in/fade-in.tsx
  src/components/common/utils/fade-in/types/fade-in.tsx
  src/components/common/utils/smooth-scroll/smooth-scroll.tsx
  src/components/common/utils/theme-reset/theme-reset.tsx
  src/lib/scroll-to-top.tsx
  src/lib/utils.ts
Owners: @toddagriscience/frontend-team

chore: forgot to update storybook with new translation implementation
  .storybook/decorators/withStorybookProvider.tsx
Owners: @toddagriscience/frontend-team

feat: separated i18n translations for better collaboration & updated docs (#59)
  .github/CONTRIBUTING.md
  .storybook/decorators/withStorybookProvider.tsx
  docs/FECHEATSHEET.md
  jest.setup.intl.js
  src/i18n/message-files.ts
  src/i18n/request.ts
  src/messages/common/en.json
  src/messages/common/es.json
  src/messages/contact/en.json
  src/messages/contact/es.json
  src/messages/footer/en.json
  src/messages/footer/es.json
  src/messages/header/en.json
  src/messages/header/es.json
  src/messages/homepage/en.json
  src/messages/homepage/es.json
  src/messages/who-we-are/en.json
  src/messages/who-we-are/es.json
  src/test/test-utils.tsx
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team, @toddagriscience/content-team

feat: enhance security and privacy controls
  next.config.ts
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/middleware.test.ts
  src/middleware.ts
Owners: @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/core-team

chore: pdate next.config.ts
  next.config.ts
Owners: @toddagriscience/devops-team

docs: update readme
  README.md
Owners: @toddagriscience/core-team

docs: update readme (#66)
  README.md
Owners: @toddagriscience/core-team

chore: update robots.txt
  public/robots.txt
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

Update public/robots.txt
  public/robots.txt
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

chore: edited dependabot to be monthly & fixed auto-merge worker
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Owners: @toddagriscience/devops-team

chore: updated package json
  package-lock.json
Owners: @toddagriscience/devops-team

chore: update .github/dependabot.yml
  .github/dependabot.yml
Owners: @toddagriscience/devops-team

chore: update dependabot schedule configuration
  .github/dependabot.yml
Owners: @toddagriscience/devops-team

chore: edited dependabot to be monthly & fixed auto-merge worker (#79)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
  package-lock.json
Owners: @toddagriscience/devops-team

Chore/update robots.txt (#67)
  public/robots.txt
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

feat: implement dynamic sitemap
  public/robots.txt
  src/app/sitemap-index.xml/route.ts
  src/app/sitemap-news.xml/route.ts
  src/app/sitemap.xml/route.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

refactor: use next.js for single sitemap
  public/robots.txt
  src/app/sitemap-index.xml/route.ts
  src/app/sitemap-news.xml/route.ts
  src/app/sitemap.ts
  src/app/sitemap.xml/route.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

feat: added accessibility page
  src/app/[locale]/accessibility/page.tsx
  src/i18n/message-files.ts
  src/messages/accessibility/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added privacy policy page
  src/app/[locale]/privacy/page.tsx
  src/i18n/message-files.ts
  src/messages/privacy/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: add terms page
  src/app/[locale]/terms/page.tsx
  src/i18n/message-files.ts
  src/messages/terms/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team
