Repository toddagriscience/Nightcrawler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/content-team, @toddagriscience/design-team

.github/CODEOWNERS:

# Copyright Todd LLC, All rights reserved

# Global ownership - require review from core team
* @toddagriscience/core-team

# GitHub configuration files
/.github/ @toddagriscience/devops-team

# CI/CD and deployment
/.github/workflows/ @toddagriscience/devops-team
/next.config.ts @toddagriscience/devops-team
/package.json @toddagriscience/devops-team
/package-lock.json @toddagriscience/devops-team

# Environment and configuration
/.env* @toddagriscience/devops-team
/envexample.md @toddagriscience/devops-team

# Code quality and tooling
/eslint.config.mjs @toddagriscience/frontend-team
/prettier.config.* @toddagriscience/frontend-team
/tailwind.config.ts @toddagriscience/frontend-team
/tsconfig.json @toddagriscience/frontend-team

# Testing configuration
/jest.config.js @toddagriscience/frontend-team
/jest.setup.* @toddagriscience/frontend-team
/.storybook/ @toddagriscience/frontend-team

# Internationalization
/src/messages/ @toddagriscience/content-team @toddagriscience/frontend-team
/src/i18n/ @toddagriscience/frontend-team
/src/middleware.ts @toddagriscience/frontend-team

# Core application structure
/src/app/ @toddagriscience/frontend-team
/src/components/ @toddagriscience/frontend-team
/src/lib/ @toddagriscience/frontend-team

# Public assets and branding
/public/ @toddagriscience/design-team @toddagriscience/frontend-team
/public/fonts/ @toddagriscience/design-team

# Documentation
/README.md @toddagriscience/core-team
/CLAUDE.md @toddagriscience/core-team
/.github/CONTRIBUTING.md @toddagriscience/core-team

test: small change to test
  src/components/landing/news-highlights/news-highlights.test.tsx
Owners: @toddagriscience/frontend-team

fix: fixes news anim not working + doc error
  src/components/common/news-card/types/news-card.ts
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/news/latest-news-table.tsx
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added ja.json files for all pages + translated for japan privacy
  src/i18n/config.ts
  src/messages/accessibility/ja.json
  src/messages/common/ja.json
  src/messages/contact/ja.json
  src/messages/footer/ja.json
  src/messages/header/ja.json
  src/messages/homepage/ja.json
  src/messages/privacy/ja.json
  src/messages/terms/ja.json
  src/messages/who-we-are/ja.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

fix: add locale types
  src/lib/locales.ts
Owners: @toddagriscience/frontend-team

feat: improved data parsing logic
  src/components/common/news/latest-news-table.test.tsx
  src/components/common/news/latest-news-table.tsx
  src/messages/news/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

chore: update readme
  README.md
Owners: @toddagriscience/core-team

chore: update readme (#93)
  README.md
Owners: @toddagriscience/core-team

feat: this is all cai's fault
  src/app/[locale]/what-we-do/components/components.ts
  src/app/[locale]/what-we-do/components/impact-card.stories.tsx
  src/app/[locale]/what-we-do/components/impact-card.test.tsx
  src/app/[locale]/what-we-do/components/impact-card.tsx
  src/app/[locale]/what-we-do/components/index.ts
  src/app/[locale]/what-we-do/components/service-card.stories.tsx
  src/app/[locale]/what-we-do/components/service-card.test.tsx
  src/app/[locale]/what-we-do/components/service-card.tsx
  src/app/[locale]/what-we-do/page.test.tsx
  src/app/[locale]/what-we-do/page.tsx
  src/i18n/message-files.ts
  src/messages/what-we-do/en.json
  src/messages/what-we-do/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added what-we-do page this is all cai's fault
  package-lock.json
  package.json
Owners: @toddagriscience/devops-team

feat: added-what-we-do page
  src/app/[locale]/what-we-do/components/service-card.tsx
  src/app/[locale]/what-we-do/page.tsx
  src/messages/what-we-do/en.json
  src/messages/what-we-do/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: somewhat fixed scuffed carousel
  src/app/[locale]/news/page.test.tsx
  src/components/common/carousel/carousel.tsx
  src/components/common/news/featured-news-carousel.test.tsx
  src/components/common/news/featured-news-carousel.tsx
Owners: @toddagriscience/frontend-team

refactor: implemented copilot suggestions
  src/components/common/news-card/news-card.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/news/latest-news-table.tsx
  src/components/landing/news-highlights/news-highlights.tsx
Owners: @toddagriscience/frontend-team

refactor: move usenews to correct loc + simplify code
  src/app/[locale]/news/page.tsx
  src/components/landing/news-highlights/news-highlights.tsx
  src/lib/hooks/news.ts
  src/lib/utils.ts
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

refactor: fixed carousel + wrapped link in latest news table
  src/app/[locale]/news/page.tsx
  src/components/common/carousel/carousel.tsx
  src/components/common/news-card/news-card.tsx
  src/components/common/news/featured-news-carousel.test.tsx
  src/components/common/news/latest-news-table.tsx
Owners: @toddagriscience/frontend-team

feat: added ja translations for privacy
  src/app/[locale]/privacy/page.tsx
  src/i18n/config.ts
  src/lib/locales.ts
  src/messages/accessibility/ja.json
  src/messages/common/ja.json
  src/messages/contact/ja.json
  src/messages/footer/ja.json
  src/messages/header/ja.json
  src/messages/homepage/ja.json
  src/messages/privacy/en.json
  src/messages/privacy/es.json
  src/messages/privacy/ja.json
  src/messages/terms/ja.json
  src/messages/who-we-are/ja.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: add pages for accesibility, privacy, and terms/conditions (#84)
  src/app/[locale]/accessibility/page.test.tsx
  src/app/[locale]/accessibility/page.tsx
  src/app/[locale]/privacy/page.test.tsx
  src/app/[locale]/privacy/page.tsx
  src/app/[locale]/terms/page.test.tsx
  src/app/[locale]/terms/page.tsx
  src/i18n/message-files.ts
  src/messages/accessibility/en.json
  src/messages/accessibility/es.json
  src/messages/privacy/en.json
  src/messages/privacy/es.json
  src/messages/terms/en.json
  src/messages/terms/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

refactor: chat gippity suggestions + ui nit
  src/components/common/news/latest-news-table.test.tsx
  src/components/common/news/latest-news-table.tsx
  src/lib/hooks/news.ts
  src/messages/news/en.json
  src/messages/news/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: add news/article pages (#86)
  CLAUDE.md
  README.md
  src/app/[locale]/news/page.test.tsx
  src/app/[locale]/news/page.tsx
  src/app/sitemap.ts
  src/components/common/carousel/carousel.stories.tsx
  src/components/common/carousel/carousel.tsx
  src/components/common/news-card/news-card.stories.tsx
  src/components/common/news-card/news-card.test.tsx
  src/components/common/news-card/news-card.tsx
  src/components/common/news-card/types/news-card.ts
  src/components/common/news/featured-news-carousel.test.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/news/latest-news-table.test.tsx
  src/components/common/news/latest-news-table.tsx
  src/components/common/placeholder-image/placeholder-image.test.tsx
  src/components/common/placeholder-image/placeholder-image.tsx
  src/components/landing/index.ts
  src/components/landing/news-highlights/news-highlights.stories.tsx
  src/components/landing/news-highlights/news-highlights.test.tsx
  src/components/landing/news-highlights/news-highlights.tsx
  src/components/landing/news-highlights/types/news-highlights.ts
  src/components/landing/page/landing-page.tsx
  src/data/featured-news.json
  src/i18n/message-files.ts
  src/lib/hooks/news.ts
  src/messages/news/en.json
  src/messages/news/es.json
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team, @toddagriscience/content-team

build: fixed type issues
  package-lock.json
  package.json
Owners: @toddagriscience/devops-team

fix: what-we-do page testing issues with next-intl
  package-lock.json
  src/app/[locale]/what-we-do/components/impact-card.test.tsx
  src/app/[locale]/what-we-do/components/service-card.test.tsx
  src/app/[locale]/what-we-do/page.test.tsx
  src/app/[locale]/what-we-do/page.tsx
Owners: @toddagriscience/devops-team, @toddagriscience/frontend-team

feat: added translations for contact page
  src/i18n/message-files.ts
  src/messages/contact/en.json
  src/messages/contact/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added base contact form
  docs/FECHEATSHEET.md
  src/app/[locale]/contact/action.ts
  src/app/[locale]/contact/page.tsx
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team

refactor: added shadcn select + prettied up reason for contact dropdown
  package-lock.json
  package.json
  src/app/[locale]/contact/page.tsx
  src/components/ui/select.tsx
Owners: @toddagriscience/devops-team, @toddagriscience/frontend-team

refactor: internationalized entire contact page
  src/app/[locale]/contact/page.tsx
  src/messages/contact/en.json
  src/messages/contact/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added thank you page after submission
  src/app/[locale]/contact/page.tsx
  src/messages/contact/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

test: added tests for contact page
  src/app/[locale]/contact/action.ts
  src/app/[locale]/contact/page.test.tsx
  src/app/[locale]/contact/page.tsx
Owners: @toddagriscience/frontend-team

test: added necessary env variable for certain tests
  src/app/[locale]/contact/page.test.tsx
Owners: @toddagriscience/frontend-team

feat: add investors and governance pages
  src/app/[locale]/investors/esg/page.tsx
  src/app/[locale]/investors/governance/[...slug]/page.tsx
  src/app/[locale]/investors/governance/components/index.ts
  src/app/[locale]/investors/governance/components/team-member-card/team-member-card.stories.tsx
  src/app/[locale]/investors/governance/components/team-member-card/team-member-card.test.tsx
  src/app/[locale]/investors/governance/components/team-member-card/team-member-card.tsx
  src/app/[locale]/investors/governance/components/team-member-card/types/team-member-card.ts
  src/app/[locale]/investors/page.tsx
  src/components/landing/footer/footer.tsx
  src/data/governance-team.json
  src/i18n/message-files.ts
  src/messages/governance/en.json
  src/messages/governance/es.json
  src/messages/investors/en.json
  src/messages/investors/es.json
  src/types/governance.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team, @toddagriscience/content-team

fix: ui changes and jsdocs
  src/app/[locale]/what-we-do/components/impact-card.tsx
  src/app/[locale]/what-we-do/components/service-card.tsx
  src/app/[locale]/what-we-do/page.tsx
  src/app/globals.css
Owners: @toddagriscience/frontend-team

Update governance-team.json
  src/data/governance-team.json
Owners: @toddagriscience/core-team

Update governance-team.json
  src/data/governance-team.json
Owners: @toddagriscience/core-team

Update governance-team.json
  src/data/governance-team.json
Owners: @toddagriscience/core-team

Update page.tsx
  src/app/[locale]/investors/esg/page.tsx
Owners: @toddagriscience/frontend-team

Update src/app/[locale]/investors/esg/page.tsx
  src/app/[locale]/investors/esg/page.tsx
Owners: @toddagriscience/frontend-team

Update page.tsx
  src/app/[locale]/investors/esg/page.tsx
Owners: @toddagriscience/frontend-team

style: removed unnecessary comments
  src/app/[locale]/contact/page.tsx
Owners: @toddagriscience/frontend-team

refactor: styling + added type
  src/app/[locale]/contact/page.tsx
  src/components/ui/select.tsx
Owners: @toddagriscience/frontend-team

feat: contact thank you page (#136)
  docs/FECHEATSHEET.md
  package-lock.json
  package.json
  src/app/[locale]/contact/action.ts
  src/app/[locale]/contact/page.test.tsx
  src/app/[locale]/contact/page.tsx
  src/components/ui/select.tsx
  src/i18n/message-files.ts
  src/messages/contact/en.json
  src/messages/contact/es.json
Owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/content-team

feat: remove promises
  src/app/[locale]/investors/governance/[...slug]/page.tsx
Owners: @toddagriscience/frontend-team

feat: fixed copilot notes
  src/types/governance.ts
Owners: @toddagriscience/core-team
