Repository toddagriscience/Nightcrawler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/content-team, @toddagriscience/design-team

.github/CODEOWNERS:

# Copyright Todd LLC, All rights reserved

# Global ownership - require review from core team
* @toddagriscience/core-team

# GitHub configuration files
/.github/ @toddagriscience/devops-team

# CI/CD and deployment
/.github/workflows/ @toddagriscience/devops-team
/next.config.ts @toddagriscience/devops-team
/package.json @toddagriscience/devops-team
/package-lock.json @toddagriscience/devops-team

# Environment and configuration
/.env* @toddagriscience/devops-team
/envexample.md @toddagriscience/devops-team

# Code quality and tooling
/eslint.config.mjs @toddagriscience/frontend-team
/prettier.config.* @toddagriscience/frontend-team
/tailwind.config.ts @toddagriscience/frontend-team
/tsconfig.json @toddagriscience/frontend-team

# Testing configuration
/jest.config.js @toddagriscience/frontend-team
/jest.setup.* @toddagriscience/frontend-team
/.storybook/ @toddagriscience/frontend-team

# Internationalization
/src/messages/ @toddagriscience/content-team @toddagriscience/frontend-team
/src/i18n/ @toddagriscience/frontend-team
/src/middleware.ts @toddagriscience/frontend-team

# Core application structure
/src/app/ @toddagriscience/frontend-team
/src/components/ @toddagriscience/frontend-team
/src/lib/ @toddagriscience/frontend-team

# Public assets and branding
/public/ @toddagriscience/design-team @toddagriscience/frontend-team
/public/fonts/ @toddagriscience/design-team

# Documentation
/README.md @toddagriscience/core-team
/CLAUDE.md @toddagriscience/core-team
/.github/CONTRIBUTING.md @toddagriscience/core-team

feat: fixed copilot notes
  src/app/[locale]/investors/page.tsx
  src/messages/investors/en.json
  src/messages/investors/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: updated according to copilot
  src/app/[locale]/investors/esg/page.tsx
  src/app/[locale]/investors/governance/[...slug]/page.tsx
  src/messages/investors/en.json
  src/messages/investors/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat(pwa): move pwa images to /app and add layout files (refs #26)
  public/twitter-card-image.jpg
  src/app/apple-touch-icon.png
  src/app/opengraph-image.jpg
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

feat(pwa): add layout files and opengraph placeholder (refs #26)
  package-lock.json
  src/app/[locale]/accessibility/layout.tsx
  src/app/[locale]/contact/layout.tsx
  src/app/[locale]/news/layout.tsx
  src/app/[locale]/privacy/layout.tsx
  src/app/[locale]/terms/layout.tsx
  src/app/[locale]/who-we-are/layout.tsx
  src/app/opengraph-image.jpg
  src/app/opengraph-placeholder.svg
Owners: @toddagriscience/devops-team, @toddagriscience/frontend-team

fix: correct formatting and module structure in layout files
  src/app/[locale]/accessibility/layout.tsx
  src/app/[locale]/contact/layout.tsx
  src/app/[locale]/news/layout.tsx
  src/app/[locale]/privacy/layout.tsx
  src/app/[locale]/terms/layout.tsx
  src/app/[locale]/who-we-are/layout.tsx
Owners: @toddagriscience/frontend-team

feat(pwa): migrate to nextjs 15 app dir icon convention
  package-lock.json
  package.json
  public/icons/README.md
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/media/social-cards/.gitkeep
  public/media/social-cards/README.md
  public/media/social-cards/twitter-card-image.png
  public/site.webmanifest
  scripts/generate-icons.ts
  src/app/favicon.ico
  src/app/icon.png
  src/app/opengraph-image.png
  src/app/opengraph-placeholder.svg
  src/lib/metadata.ts
Owners: @toddagriscience/devops-team, @toddagriscience/design-team, @toddagriscience/frontend-team, @toddagriscience/core-team

fix(pwa): update icon sizes and add documentation
  public/README-ICONS.md
  public/site.webmanifest
  scripts/generate-icons.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team, @toddagriscience/core-team

docs: minor formatting fix
  public/README-ICONS.md
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

fix(pwa): remove placeholder icon files
  src/app/apple-touch-icon.png
  src/app/favicon.ico
  src/app/icon.png
  src/app/opengraph-image.png
Owners: @toddagriscience/frontend-team

feat: fix review issues
  src/app/[locale]/investors/governance/[...slug]/page.test.tsx
  src/app/[locale]/investors/governance/[...slug]/page.tsx
  src/app/[locale]/investors/page.test.tsx
  src/app/[locale]/investors/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
Owners: @toddagriscience/frontend-team

feat: fix review issues
  src/app/[locale]/investors/page.test.tsx
Owners: @toddagriscience/frontend-team

feat: fix review issues
  src/app/[locale]/investors/page.test.tsx
Owners: @toddagriscience/frontend-team

feat: fix review issues
  src/app/[locale]/investors/page.test.tsx
Owners: @toddagriscience/frontend-team

feat: fix review issues
  src/app/[locale]/investors/page.test.tsx
Owners: @toddagriscience/frontend-team

Update src/app/[locale]/investors/esg/page.tsx
  src/app/[locale]/investors/esg/page.tsx
Owners: @toddagriscience/frontend-team

feat: added script for pulling api routes
  src/apiRoutes.json
  src/app/page.tsx
  src/lib/build-api-routes.mts
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team

build: added ts-node & updated build command
  package-lock.json
  package.json
Owners: @toddagriscience/devops-team

docs: added docs for feature & moved script to scripts/
  README.md
  envexample.md
  package.json
  src/lib/build-api-routes.mts
  src/scripts/build-api-routes.mts
Owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team

ci: updated workflows for env file
  .github/workflows/build.yml
Owners: @toddagriscience/devops-team

refactor: move to js + add prettier format on api routes pull
  package-lock.json
  package.json
  src/apiRoutes.json
  src/scripts/build-api-routes.mjs
Owners: @toddagriscience/devops-team, @toddagriscience/core-team

Revise feature request template for clarity
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @toddagriscience/devops-team

Enhance feature request template with media field
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @toddagriscience/devops-team

Revise external media field in feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @toddagriscience/devops-team

Remove required attribute from external media field
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @toddagriscience/devops-team

Simplify bug report prompt in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @toddagriscience/devops-team
