Repository toddagriscience/Nightcrawler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team, @toddagriscience/content-team, @toddagriscience/design-team

.github/CODEOWNERS:

# Copyright Todd LLC, All rights reserved

# Global ownership - require review from core team
* @toddagriscience/core-team

# GitHub configuration files
/.github/ @toddagriscience/devops-team

# CI/CD and deployment
/.github/workflows/ @toddagriscience/devops-team
/next.config.ts @toddagriscience/devops-team
/package.json @toddagriscience/devops-team
/package-lock.json @toddagriscience/devops-team

# Environment and configuration
/.env* @toddagriscience/devops-team
/envexample.md @toddagriscience/devops-team

# Code quality and tooling
/eslint.config.mjs @toddagriscience/frontend-team
/prettier.config.* @toddagriscience/frontend-team
/tailwind.config.ts @toddagriscience/frontend-team
/tsconfig.json @toddagriscience/frontend-team

# Testing configuration
/jest.config.js @toddagriscience/frontend-team
/jest.setup.* @toddagriscience/frontend-team
/.storybook/ @toddagriscience/frontend-team

# Internationalization
/src/messages/ @toddagriscience/content-team @toddagriscience/frontend-team
/src/i18n/ @toddagriscience/frontend-team
/src/middleware.ts @toddagriscience/frontend-team

# Core application structure
/src/app/ @toddagriscience/frontend-team
/src/components/ @toddagriscience/frontend-team
/src/lib/ @toddagriscience/frontend-team

# Public assets and branding
/public/ @toddagriscience/design-team @toddagriscience/frontend-team
/public/fonts/ @toddagriscience/design-team

# Documentation
/README.md @toddagriscience/core-team
/CLAUDE.md @toddagriscience/core-team
/.github/CONTRIBUTING.md @toddagriscience/core-team

refactor: removed any mention of emails in added pages
  src/app/[locale]/privacy/page.tsx
  src/app/[locale]/terms/page.tsx
  src/messages/privacy/en.json
  src/messages/terms/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added untranslated es.json files for pages
  src/messages/accessibility/es.json
  src/messages/privacy/es.json
  src/messages/terms/es.json
Owners: @toddagriscience/content-team, @toddagriscience/frontend-team

test: added test for accessibility page
  src/app/[locale]/accessibility/page.test.tsx
Owners: @toddagriscience/frontend-team

chore: add copyright
  src/app/[locale]/accessibility/page.test.tsx
Owners: @toddagriscience/frontend-team

test: add test for terms page
  src/app/[locale]/terms/page.test.tsx
Owners: @toddagriscience/frontend-team

test: add tests for privacy page
  src/app/[locale]/privacy/page.test.tsx
Owners: @toddagriscience/frontend-team

test: add margin test to accessibility page
  src/app/[locale]/accessibility/page.test.tsx
Owners: @toddagriscience/frontend-team

chore: update src/app/sitemap.ts
  src/app/sitemap.ts
Owners: @toddagriscience/frontend-team

fix: updated with javadoc & error + date handling
  src/app/sitemap.ts
Owners: @toddagriscience/frontend-team

fix: updates to middleware, added config test, and developmental logger
  .cursorrules
  .github/CONTRIBUTING.md
  CLAUDE.md
  README.md
  src/lib/logger.test.ts
  src/lib/logger.ts
  src/middleware.test.ts
  src/middleware.ts
  src/next.config.test.ts
  src/test/middleware.setup.ts
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team

chore: update src/middleware.ts
  src/middleware.ts
Owners: @toddagriscience/frontend-team

chore: update middleware.ts
  src/middleware.ts
Owners: @toddagriscience/frontend-team

feat: enhance security, privacy controls & added environmentally aware logging util. (#65)
  .cursorrules
  .github/CONTRIBUTING.md
  CLAUDE.md
  README.md
  next.config.ts
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/lib/logger.test.ts
  src/lib/logger.ts
  src/middleware.test.ts
  src/middleware.ts
  src/next.config.test.ts
  src/test/middleware.setup.ts
Owners: @toddagriscience/core-team, @toddagriscience/devops-team, @toddagriscience/frontend-team

feat: modified type to accomdate new data
  src/components/common/news-card/news-card.tsx
  src/components/common/news-card/types/news-card.ts
Owners: @toddagriscience/frontend-team

feat: added rudimentary news page
  src/app/[locale]/news/page.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/i18n/message-files.ts
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

fix: lint/test fixes
  src/components/common/carousel/carousel.stories.tsx
  src/components/common/news-card/news-card.stories.tsx
  src/components/common/news-card/news-card.test.tsx
  src/components/common/news-card/news-card.tsx
  src/components/landing/news-highlight-card/news-highlight-card.tsx
  src/data/featured-news.json
  src/i18n/message-files.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

feat: implement dynamic sitemap (#68)
  public/robots.txt
  src/app/sitemap.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

feat: initialized auth with routing fixes, layout & middleware updates
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/layout.test.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/common/auth-toggle/auth-toggle.tsx
  src/components/common/index.ts
  src/i18n/config.ts
  src/middleware.test.ts
  src/middleware.ts
  src/middleware/auth.test.ts
  src/middleware/auth.ts
  src/middleware/export.ts
  src/middleware/i18n.test.ts
  src/middleware/i18n.ts
  src/middleware/middleware.setup.ts
  src/middleware/privacy.test.ts
  src/middleware/privacy.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

fix: updated auth.ts & toggle
  src/components/common/auth-toggle/auth-toggle.tsx
  src/middleware/auth.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

docs: documented
  src/components/common/news-card/types/news-card.ts
Owners: @toddagriscience/frontend-team

refactor: handle news in custom hook & update related files
  src/app/[locale]/news/page.tsx
  src/components/landing/news-highlight-card/news-highlight-card.test.tsx
  src/components/landing/news-highlight-card/news-highlight-card.tsx
  src/data/featured-news.json
  src/lib/utils.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

chore: delete contacts translations
  src/i18n/message-files.ts
  src/messages/contact/en.json
  src/messages/contact/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

fix: fixed import/different file issues from merge
  src/app/sitemap.ts
Owners: @toddagriscience/frontend-team

chore: delete contacts translations (#88)
  src/i18n/message-files.ts
  src/messages/contact/en.json
  src/messages/contact/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

chore: updated from comments
  src/app/layout.tsx
  src/i18n/config.ts
  src/middleware/auth.ts
  src/middleware/i18n.test.ts
  src/middleware/i18n.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

refactor: renamed news-highlight-card to news-highlights
  CLAUDE.md
  README.md
  src/components/landing/index.ts
  src/components/landing/news-highlights/news-highlights.stories.tsx
  src/components/landing/news-highlights/news-highlights.test.tsx
  src/components/landing/news-highlights/news-highlights.tsx
  src/components/landing/news-highlights/types/news-highlights.ts
  src/components/landing/page/landing-page.tsx
Owners: @toddagriscience/core-team, @toddagriscience/frontend-team

fix: change url (1-liner)
  src/components/common/news-card/news-card.tsx
Owners: @toddagriscience/frontend-team

refactor: made slug field non optional
  src/components/common/carousel/carousel.stories.tsx
  src/components/common/news-card/news-card.stories.tsx
  src/components/common/news-card/news-card.test.tsx
  src/components/common/news-card/types/news-card.ts
Owners: @toddagriscience/frontend-team

feat: add missing component to news page
  src/app/[locale]/news/page.tsx
  src/components/common/news/latest-news-table.tsx
Owners: @toddagriscience/frontend-team

fix: removed contact from message-files.ts
  src/i18n/message-files.ts
Owners: @toddagriscience/frontend-team

feat: add pwa support and organize social media assets
  public/icons/README.md
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/media/social-cards/.gitkeep
  public/media/social-cards/README.md
  public/media/social-cards/og-image.png
  public/media/social-cards/twitter-card-image.png
  public/robots.txt
  public/site.webmanifest
  src/lib/metadata.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

feat: unchopped news page (made it look better)
  src/app/[locale]/news/page.tsx
  src/components/common/news-card/news-card.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/placeholder-image/placeholder-image.tsx
Owners: @toddagriscience/frontend-team

fix: for test
  src/components/common/news-card/news-card.tsx
Owners: @toddagriscience/frontend-team

feat: small tweaks to ui
  src/app/[locale]/news/page.tsx
  src/components/common/news-card/news-card.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/placeholder-image/placeholder-image.tsx
Owners: @toddagriscience/frontend-team

feat: add pwa support and organize social media assets
  public/icons/README.md
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/media/social-cards/.gitkeep
  public/media/social-cards/README.md
  public/media/social-cards/og-image.png
  public/media/social-cards/twitter-card-image.png
  public/site.webmanifest
  src/lib/metadata.ts
Owners: @toddagriscience/design-team, @toddagriscience/frontend-team

refactor: change slug to link
  src/app/sitemap.ts
  src/components/common/carousel/carousel.stories.tsx
  src/components/common/news-card/news-card.stories.tsx
  src/components/common/news-card/news-card.test.tsx
  src/components/common/news-card/news-card.tsx
  src/components/common/news-card/types/news-card.ts
  src/components/common/news/latest-news-table.tsx
  src/components/landing/news-highlights/news-highlights.tsx
  src/lib/utils.ts
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: initialized dashboard with routing fixes + layout & middleware updates (#87)
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/layout.test.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/common/auth-toggle/auth-toggle.tsx
  src/components/common/index.ts
  src/i18n/config.ts
  src/middleware.test.ts
  src/middleware.ts
  src/middleware/auth.test.ts
  src/middleware/auth.ts
  src/middleware/export.ts
  src/middleware/i18n.test.ts
  src/middleware/i18n.ts
  src/middleware/middleware.setup.ts
  src/middleware/privacy.test.ts
  src/middleware/privacy.ts
Owners: @toddagriscience/frontend-team, @toddagriscience/core-team

test: added tests for all added components
  src/app/[locale]/news/page.test.tsx
  src/components/common/news/featured-news-carousel.test.tsx
  src/components/common/news/featured-news-carousel.tsx
  src/components/common/news/latest-news-table.test.tsx
  src/components/common/news/latest-news-table.tsx
  src/components/common/placeholder-image/placeholder-image.test.tsx
  src/components/common/placeholder-image/placeholder-image.tsx
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: added career page
  src/app/[locale]/careers/layout.tsx
  src/app/[locale]/careers/page.tsx
  src/components/landing/header/header.tsx
  src/messages/header/en.json
  src/messages/header/es.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team

feat: add news to sitemap & add real news info
  src/app/sitemap.ts
  src/components/common/news/latest-news-table.tsx
  src/components/landing/news-highlights/news-highlights.test.tsx
  src/lib/utils.ts
  src/messages/news/en.json
Owners: @toddagriscience/frontend-team, @toddagriscience/content-team
